<section class="nutrition-facts">
  <header class="nutrition-header">
    <h1 class="nutrition-title">Nutrition Facts</h1>
    <p>Serving Size: Full Recipe
    </header>
    <table class="nutrition-table">
      <thead>
        <tr>
          <th colspan="3" class="small-info">
            Amount Per Serving
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2">
            <b>Calories</b>
            <%= @recipe.calc_calories.round(2) %>
          </th>
          <td>
            Calories from Fat
            <%= @recipe.calc_cal_fat.round(0) %>
          </td>
        </tr>
        <tr class="thick-row">
          <td colspan="3" class="small-info">
            <b>% Daily Value*</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Fat</b>
            <%= @recipe.calc_total_fat.round(2) %>g
          </th>
          <td>
            <b><%= @recipe.calc_fat_dv.round(1) %>%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Saturated Fat
            <%= @recipe.calc_sat_fat.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Polyunsaturated Fat
            <%= @recipe.calc_poly_fat.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Cholesterol</b>
            <%= @recipe.calc_cholesterol.round(2) %>mg
          </th>
          <td>
            <b><%= @recipe.calc_cholesterol_dv.round(0) %>%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Sodium</b>
            <%= @recipe.calc_sodium.round(2) %>mg
          </th>
          <td>
            <b>  <%= @recipe.calc_sodium_dv.round(0) %>%</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Carbohydrate</b>
            <%= @recipe.calc_carbs.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Dietary Fiber
            <%= @recipe.calc_fiber.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Sugars
            <%= @recipe.calc_sugar.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr class="thick-end">
          <th colspan="2">
            <b>Protein</b>
            <%= @recipe.calc_protein.round(2) %>g
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="small-table">
      <tbody>
        <tr>
          <td colspan="2">
            Vitamin A
            <%= @recipe.calc_a %>%
          </td>
          <td>
            Vitamin C
            <%= @recipe.calc_c %>%
          </td>
        </tr>
        <tr class="thin-end">
          <td colspan="2">
            Calcium
            <%= @recipe.calc_calcium %>%
          </td>
          <td>
            Iron
            <%= @recipe.calc_iron %>%
          </td>
        </tr>
      </tbody>
    </table>
  </section>
