<% content_for :title, @recipe.name %>
<p id="notice"><%= notice %></p>


<h1><%= @recipe.name %></h1>

<p>Created by <strong><%= @recipe.type_of_user %></strong></p>

<%= link_to image_tag(@recipe.featured_image_url(:thumb)), @recipe.featured_image_url %>

<h2>About this Juice Recipe</h2>

<p><%= @recipe.body %></p>

<h2>Recipe Ingredients</h2>

<% @recipe.ingredients.each do |i| %>

<div class="ingredient-list">
  <div class="ingredient-image">
    <%= image_tag(get_image(i.name), width: "75") %>
  </div>
  <%= link_to i.name, i %>
</div>
<% end %>

<h2>Nutritional Analysis</h2>

<div class="facts-container">

<% if @facts.nil? || @facts[0].empty? || @facts[0].has_key?("error") %>

<p> Sorry, it looks like we've maxed out the API requests for the day. </p>

   <% else %>

   <%= render 'nutrition' %>

   <% end %>

</div>

<% if authorize_user(@recipe) %>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get, class: "button-cancel" %>

<% end %>
