<% content_for :title, @recipe.name %>
<p id="notice"><%= notice %></p>


<h1><%= @recipe.name %></h1>

<p>Created by <strong><%= @recipe.type_of_user %></strong></p>


<p><%= @recipe.body %></p>

<h2>Recipe Ingredients</h2>

<% @recipe.ingredients.each do |i| %>

<div class="ingredient-list">
  <div class="ingredient-image">
    <%= image_tag(get_image(i.name), width: "75") %>
  </div>
  <%= i.name %>
</div>
<% end %>

<h2>Nutritional Analysis</h2>

<div class="facts-container">

<% unless @facts[0].has_key?("error") %>

   <%= render 'nutrition' %>

   <% else %>

   <p> Sorry, it looks like we've maxed out the API requests for the day. </p>

   <% end %>

</div>

<% if authorize_user(@recipe) %>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: :get, class: "button-cancel" %>

<% end %>
