<section class="nutrition-facts">
  <header class="nutrition-header">
    <h1 class="nutrition-title"><%= @ingredient.name %> Nutrition Facts</h1>
    <p>Serving Size: <%= @facts["nf_serving_size_qty"] %> <%= @facts["nf_serving_size_unit"] %>
    </header>
    <table class="nutrition-table">
      <thead>
        <tr>
          <th colspan="3" class="small-info">
            Amount Per Serving
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2">
            <b>Calories</b>
            <%= @facts["nf_calories"].round(2) %>
          </th>
          <td>
            Calories from Fat
            <%= @facts["nf_calories_from_fat"].round(0) %>
          </td>
        </tr>
        <tr class="thick-row">
          <td colspan="3" class="small-info">
            <b>% Daily Value*</b>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Fat</b>
            <%= @facts["nf_total_fat"].round(2) %>g
          </th>
          <td>
            <b><%= ((@facts["nf_total_fat"] /65)*100).round(2) %>%</b>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Saturated Fat
            <%= @facts["nf_saturated_fat"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Polyunsaturated Fat
            <%= @facts["nf_polyunsaturated_fat"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Cholesterol</b>
            <%= @facts["nf_cholesterol"].round(2) %>mg
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Sodium</b>
            <%= @facts["nf_sodium"].round(2) %>mg
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <b>Total Carbohydrate</b>
            <%= @facts["nf_total_carbohydrate"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Dietary Fiber
            <%= @facts["nf_dietary_fiber"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <td class="blank-cell">
          </td>
          <th>
            Sugars
            <%= @facts["nf_sugars"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
        <tr class="thick-end">
          <th colspan="2">
            <b>Protein</b>
            <%= @facts["nf_protein"].round(2) %>g
          </th>
          <td>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="small-table">
      <tbody>
        <tr>
          <td colspan="2">
            Vitamin A
            <%= @facts["nf_vitamin_a_dv"] %>%
          </td>
          <td>
            Vitamin C
            <%= @facts["nf_vitamin_c_dv"] %>%
          </td>
        </tr>
        <tr class="thin-end">
          <td colspan="2">
            Calcium
            <%= @facts["nf_calcium_dv"] %>%
          </td>
          <td>
            Iron
            <%= @facts["nf_iron_dv"] %>%
          </td>
        </tr>
      </tbody>
    </table>
  </section>
