<% content_for :title, @ingredient.name %>

<p id="notice"><%= notice %></p>

<h2><%= @ingredient.name %></h2>
<p><%= @ingredient.body %></p>

<h2>Nutrition Facts</h2>

<% unless  @facts.nil? %>

<%= render 'nutrition' %>

<% end %>


<% if current_user.admin? %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<% end %>
<%= link_to 'Back', ingredients_path %>
