<% content_for :title, @ingredient.name %>

<p id="notice"><%= notice %></p>

<h2><%= @ingredient.name %></h2>
<div class="ingredient-image">
  <%= image_tag(get_image(@ingredient.name), width: "125") %>
</div>
<p><%= @ingredient.body %></p>

<h2>Nutrition Facts</h2>

<% if @facts.empty? %>

<p> Sorry, it looks like we've maxed out the API requests for the day. </p>

<% else %>

<%= render 'nutrition' %>

<% end %>


<% if current_user.admin? %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<% end %>
<%= link_to 'Back', ingredients_path %>
